DAY 2 ASSIGNMENT

In [3]:
lst = []
i=1
while i<=10 :
  a=int(input())
  if a%2==0 :
    lst.append(a)
  i=i+1

print(lst)

5
6
8
65
98
980
76
55
57
94
[6, 8, 98, 980, 76, 94]

In [4]:
h_letters = [letter for letter in 'HUMAN']
print(h_letters)

num_list = [x for x in range(50) if x%5==0]
print(num_list)

['H', 'U', 'M', 'A', 'N']
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [6]:
dict = {}
n = int(input())
i=1
while i<=n :
  dict[i] = i*i
  i=i+1

print(dict)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
import math
n = int(input())
i = 1
d = 0
m = 0
while i<=n :
  a = input()
  b = a[ :-2]
  c = int(a[-1])
  i=i+1
  if b == 'UP' :
    d = d+c
  elif b == 'DOWN' :
    d = d-c
  elif b == 'RIGHT' :
    m = m+c
  else :
    m = m-c

s = math.sqrt((d*d)+(m*m))
print(round(s))

4
UP 5
DOWN 3
LEFT 2
RIGHT 3
2