**Question 1:**


**How to import pandas and check the version?**

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

**Questions 2:**

**How to create a series from a numpy array?**

In [3]:
import numpy as np
arr = np.array([1,2,3,4,5])
sr = pd.Series(arr)
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Questions 3:**

**How to convert the index of a series into a column of a dataframe?**

In [22]:
import pandas as pd

df = pd.DataFrame({'NAME' : ['Nehal' , 'Sneha' , 'Prakshi' , 'Roshan' , 'Sameer'] ,
                   'AGE' : [19,21,20,21,20] ,
                    'BRANCH' : ['BIPC' , 'BIPC' , 'MPC' , 'MPC' , 'MPC']})

df['Index'] = df.index
print(df)

      NAME  AGE BRANCH  Index
0    Nehal   19   BIPC      0
1    Sneha   21   BIPC      1
2  Prakshi   20    MPC      2
3   Roshan   21    MPC      3
4   Sameer   20    MPC      4

**Questions 4:**

**Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset**

**Note:** mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [9]:
import seaborn as sns

mpg = sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

**Questions 5:**

**Which country origin cars are a part of this dataset?**

In [15]:
import seaborn as sns

import pandas as pd

mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)

df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

**Questions 6:**

**Extract the part of the dataframe which contains cars belonging to 'usa'**

In [16]:
import seaborn as sns

import pandas as pd

mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)

df[df.origin == 'usa']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]